@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500;600;700;800&display=swap');

:root {
    --primary-color: #c8ee44;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
